@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Changa", sans-serif;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h6, h3 {
  padding: 10px 20px;
  border: solid 1px black;
  margin: 0px;
}

body {
  /* background-color: lightblue; */
  background-image: radial-gradient(rgb(0, 217, 255), white);
  /* background-image: linear-gradient(-90deg, rgb(173, 186, 230), white); */
}

.f-red {
  color: red;
}
.f-blue {
  color: blue;
}
.f-green {
  color: green;
}
.f-yellow {
  color: yellow;
}
.f-purple {
  color: purple;
}
.f-orange {
  color: orange;
}
.f-pink {
  color: pink;
}
main {
  height: calc(100vh - 311px);
  padding-top: 20px;
}

.point:hover {
    cursor:pointer;
}
#about h6 {
  border: none;
  padding-top: 15px;
}

#about h6:hover {
  border: none;
  padding-top: 15px;
  font-size:200%;
  padding:7px 0 0 0;
}

#about {
  border: solid 1px black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.8);
}
#about:hover {
    background-color:white;
}

.aboutfield {
    background-color:rgba(255,255,255,0.95);
    border:solid 1px black;
    width:95vw;
    height:72vh;
    position:absolute;
    z-index:300;
    margin-top:-120px;
    padding:1rem;
    font-size:12px;
}

#exit {
    position:absolute;
    top:1rem;
    right:1rem;
    color:rgb(100, 100, 100);
}

#exit:hover {
    color:black;
}

#authorinfo {
    position:absolute;
    font-size:10px;
    margin-right:1rem;
    bottom:0;
    right:0;
}
.dif {
  background-color: rgba(0, 0, 0, 0.2);
}
.dif h6 a {
  text-decoration: none;
  color: black;
}
.active {
  background-color: rgba(255, 255, 255, 0.8);
}

.col-12 {
  text-align: center;
}

span {
  display: inline-block;
  margin-bottom: 20px;
}

#startnewgame4, #startnewgame6, #startnewgame8 {
  /* display: none; */
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:center;
  
}
#startnewgame4:hover, #startnewgame6:hover, #startnewgame8:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor:pointer;
}
#counter {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

    font-family: "Changa", sans-serif;
    font-size:500%;
    color:black;
    text-align:center;
    border:none;
    padding:0;
}
#counter:hover {
    cursor:default;
}


#gameover {
  /* display: none; */
  background-color: rgba(0, 0, 0, 1);
  width:300px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#gameover h3{
    font-size:300%;
    color:white;
    text-align:center;
    cursor:default;
}

.circle {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: white;
  clip-path: circle();
  margin: 0 auto;
  overflow: hidden;
}

.circle2 {
  position: absolute;
  z-index:0;
  width: 380px;
  height: 380px;
  background-color: white;
  clip-path: circle();
  margin: 0 auto;
  margin-top:-15px;
  overflow: hidden;
}

/* ---SIMON FOUR TILES */
.inner {
    /* position: absolute;
  bottom: 0;   
  right: 0; */
  width: 175px;
  height: 175px;
  /* background-color: red;
  border-top-left-radius: 100%; */
}
.origin-4-red {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
}
.red-4-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  border-top-left-radius: 100%;
}

.origin-4-blue {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(90deg);
}
.blue-4-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  border-top-left-radius: 100%;
}
.origin-4-green {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(180deg);
}
.green-4-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  border-top-left-radius: 100%;
}
.origin-4-yellow {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(270deg);
}
.yellow-4-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: yellow;
  border-top-left-radius: 100%;
}

/* ---SIMON SIX TILES */

.origin-red {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
}
.red-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}
.origin-blue {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(60deg);
}
.blue-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}
.origin-green {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(120deg);
}
.green-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}
.origin-yellow {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(180deg);
}
.yellow-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: yellow;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}
.origin-purple {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  /* background-color:black; */
  transform-origin: bottom right;
  transform: rotate(240deg);
}
.purple-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: purple;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}
.origin-orange {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(300deg);
}
.orange-6-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: orange;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(30deg);
}

/* ---SIMON EIGHT TILES */

.origin-8-red {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
}
.red-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-blue {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(45deg);
}
.blue-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-green {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(90deg);
}
.green-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-yellow {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(135deg);
}
.yellow-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: yellow;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-purple {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(180deg);
}
.purple-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: purple;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-orange {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(225deg);
}
.orange-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: orange;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-pink {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(270deg);
}
.pink-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: pink;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}
.origin-8-turq {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10px;
  height: 10px;
  transform-origin: bottom right;
  transform: rotate(315deg);
}
.turq-8-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: turquoise;
  border-top-left-radius: 100%;
  transform-origin: bottom left;
  transform: skew(45deg);
}

footer {
  height: 120px;
  padding: 40px;
}

/* MEDIAQUERIES */
@media (min-width:576px){
.aboutfield {
    font-size:14px;
}
}

/* small iphone 5se */
@media (max-width:320px){
    h1 {
        margin-bottom:5px;
    }

.circle2{
   width: 320px;
  height: 320px;
}
.circle {
    width:290px;
    height:290px;
}

.inner {
    width:145px;
    height:145px;
}
main {
  height: auto;
padding-top: 0px;
}

#startnewgame4, #startnewgame6, #startnewgame8 {
width:200px;
  
}

}
/* ipad size */
@media (min-width:768px) and (min-height:900px) {

h1 {
    font-size:375%;
    margin-bottom:0;
}
.circle2{
   width: 730px;
  height: 730px;
}
.circle {
    width:700px;
    height:700px;
}

.inner {
    width:350px;
    height:350px;
}
.aboutfield {
    width:95vw;
    height:80vh;
    font-size:24px;
}
.aboutfield h4 {
    font-size:200%;
}

}



/* desktop size */
@media (min-width:992px) {

h1 {
    text-align:left;
    margin: 30px 30px 20px 30px;
}

h5 {
    text-align:right;
    margin:40px 0px;
}

nav {
    margin: 30px 0px;
}

main {
  height: auto;
padding-top: 0px;
margin-top:-20px;
}

#aboutdiv {
    text-align:right;
}

#about {
    text-align:center;
}
#about:hover{
    cursor:pointer;
}

.circle2{
   width: 530px;
  height: 530px;
}
.circle {
    width:500px;
    height:500px;
}

.inner {
    width:250px;
    height:250px;
}

.aboutfield {
    width:95vw;
    height:72vh;
    margin-top:0px;
    font-size:15px;
}

}

/* ipad pro size */
@media (min-width:1000px) and (min-height:1300px) {

h1 {
    font-size:375%;
    margin-bottom:0;
}
.circle2{
   width: 830px;
  height: 830px;
    margin-top:185px;
}
.circle {
    width:800px;
    height:800px;
    margin-top:200px;
}

.inner {
    width:400px;
    height:400px;
}
.aboutfield {
    width:95vw;
    height:80vh;
    font-size:24px;
}
.aboutfield h4 {
    font-size:200%;
}
footer {
    position:absolute;
    bottom:0;
    right:0;
}
}